.main {
	-fx-font-family: "Helvetica Neue Light";
}

.button {
	-fx-font-size: 21px;
	-fx-background-radius: 0px;
	-fx-background-color: rgb(214 ,214, 214);
}

.button:pressed {
	-fx-background-color: rgb(178 ,178, 178);
}

.display {
	-fx-font-family: "Helvetica Neue UltraLight";
	-fx-font-size: 46px;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: rgb(142, 142, 142);
}

.operator {
	-fx-text-fill: #FFFFFF;
	-fx-background-color: rgb(254 ,147, 64);
}

.operator:pressed {
	-fx-background-color: rgb(202, 116, 49);
} 

.management {
	-fx-background-color: rgb(214 ,214, 214);
}

.management:pressed {
	-fx-background-color: rgb(178 ,178, 178);
}

#plusMinus, #ac {
	-fx-font-size: 19px;
}